<html>
    <head>
      <title>Crypto Dashboard</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% set active_page = active_page|default('index') %}
        {% set nav_bar = [
            ('/', 'index', 'Home'),
            ('/charts', 'charts', 'Charts'),
            ('#', 'settings', 'Settings')
          ]
        %}
        <a class="navbar-brand" href="/index">Crypto Dashboard</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              {% for href, id, name in nav_bar %}
                <li {% if id == active_page %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                  <a class="nav-link" href="{{ href }}">{{ name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
      </nav>
    </head>
    <body>
      {% block content %}{% endblock %}
    </body>
</script>
</html>
